<h1>Ivy</h1>
<h5>Hi <%= current_user.name %></h5>
<p>I am your personal assistant, ask me anything!</p>

<%= simple_form_for @chat, url: chats_path,
    data: { controller: "reset-form",
    action: "turbo:submit-end->reset-form#reset"
    } do |f| %>
  <div>
    <%= f.input :content, as: :text, input_html: { rows: 3, placeholder: "Type your message to Ivy..." } %>
  </div>
  <div>
    <%= f.button :submit, "Send" %>
  </div>
<% end %>

<%= turbo_stream_from "user_#{current_user.id}_chats" %>

<div id="chat-container" style="max-height: 400px; overflow-y: auto; padding: 1rem; border: 1px solid #ccc; border-radius: 8px;">
  <%= render partial: "chat", collection: @chats.last(3), as: :chat %>
</div>
